* {
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
    color: black;
}



#wrap {
    width: 60%;
    margin: 100px auto;
    font-family: 'Single Day', cursive;
}