<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에는 인터페이스 풀네임(패키지 + 인터페이스 이름) -->
<mapper namespace="com.spring.mvc.mybatis.PersonMapper">

<!--    SQL 작성 : 추상 메서드 별로 작성 -->
<!--    id에는 추상메서드 이름을 적는다 -->
    <insert id = "save">
        insert into person (person_name, person_age) values (#{personName}, #{personAge})
    </insert>

    <update id = "modify">
        update person set person_name = #{personName}, person_age = #{personAge} where id = #{id}
    </update>

    <delete id="remove">
        delete from person where id = #{id}
    </delete>

<!--    ORM : 자바 객체 필드와 테이블 컬럼을 맵핑 -->
    <resultMap id="ttutturu" type="com.spring.mvc.jdbc.Person">
        <result property="personName" column="person_name"></result>
        <result property="personAge" column="person_age"></result>
    </resultMap>
    <select id="findAll" resultMap="ttutturu">
        select * from person
    </select>

    <select id="findOne" resultMap="ttutturu">
        select * from person where id = #{id}
    </select>
</mapper>